div.form {
    margin-top: 8vh;
    margin-left: 10%;
    width: 80%;
    background-color: rgba(200, 200, 200, 0.8);
    border: 2px;
    border-radius: 8px;
    border-style: outset;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 3px 3px;
}
div.form > * {
    width: 95%;
    margin-left: 2.5%;
}

h2 {
    text-align: center;
    margin-top: 0.3vh;
    font-weight: 700;
    font-size: 1.8em;
    font-family: serif;
    color: rgba(0, 60, 255, 0.712);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25vh;
}

input:hover {
    border: 2px rgba(255,255,0,0.7) solid;
}



input {
    width: 70%;
    height: 4vh;
    border-radius: 5px;
}

form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type='button'] {
    background-color: rgba(0,255,0,0.7);
}

label {
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0,200,200);
}

@media only screen and (max-width: 300px){
    form > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    div > input[type='button'] {
        width: 200px;
    }
}

@media only screen and (max-height: 500px){
    div.form {
        height: 300px;
        margin-top: 10px;
    }
    
    div > input[type='button'] {
        width: 200px;
    }
    input {
        height: 20px;
    }
    form {
        min-height: 50%;
    }
}